@media (max-width: 768px) {
    .navbar-header {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
    }
  }

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding-bottom: 100px; /* Height of the footer */
  box-sizing: border-box;
}

.footer-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}