@media (max-width: 768px) {
    .navbar-header {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
    }
  }

.footer-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}